   
    @font-face {
    font-family: 'Metropolis Black';
    font-style: normal;
    font-weight: normal;
    src: local('Metropolis Black'), url('Metropolis-Black.woff') format('woff');
    }
    

    * {
        margin: 0;
        box-sizing: border-box;
    }

    body {
         font-family: 'Metropolis Black', sans-serif;
         background-image: url(imgs/bg2.jpg);
         background-repeat: no-repeat;
         background-color: rgb(0,0,0);

    }

    .trending {
        padding: 5px;
        text-align: center;
        margin: 30px;
        height: -50px;
    }

    .rowposters {
    width: 100%;
    object-fit: contain;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-right: 10px;
    background-repeat: no-repeat;
    
    }

    .rowphotos {
        display: flex;
        padding: 10px;
        float: left;
        width: 195px;

    }

    .rowphotos:hover {
        transform: scale(1.08);
    }